body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
}

footer {
  grid-area: footer; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

h1 {
  font: bold 2em serif;
}

h2 {
  font: bold 1.5em serif;
  margin: .83em 0;
}

header {
  grid-area: header;
  padding: 1em;
}

main {
  grid-area: main;
  padding: 1em;
}

progress {
  display: none;
}

.choice {
  background: none;
  border: .1em solid #000000;
  margin-top: .5em;
  padding: 1em;
}

.choice:first-child {
  margin-top: 0;
}

.play {
  background: none;
  border: .1em solid #000000;
  margin-top: 1em;
  padding: 1em;
}

@media screen and (min-width: 576px) {
  body {
    grid-template-areas:
      ". header ."
      ". main ."
      ". footer .";
    grid-template-columns: 1fr 540px 1fr;
  }
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 1fr 720px 1fr;
  }
}

@media screen and (min-width: 992px) {
  body {
    grid-template-columns: 1fr 960px 1fr;
  }
}

@media screen and (min-width: 1200px) {
  body {
    grid-template-columns: 1fr 1140px 1fr;
  }
}